/build*
format.vcxproj.filters
format.vcxproj
common/commonv.vcxproj.filters
common/commonv.vcxproj
common/commonr.vcxproj.filters
ZERO_CHECK.vcxproj
VanillaConquer.sln
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.12.18081601-MSVC_2/CMakeSystem.cmake
CMakeFiles/15ed98f2336378806fea8ec843a948a3/generate.stamp.rule
CMakeFiles/0eb2700b6e64b098b3867e2d53395cfb/check_git.rule
CMakeCache.txt
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj
CMakeFiles/3.12.18081601-MSVC_2/CMakeRCCompiler.cmake
CMakeFiles/3.12.18081601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.12.18081601-MSVC_2/CMakeCXXCompiler.cmake
redalert/RemasterRAInfo.h
redalert/RedAlert.vcxproj.filters
redalert/RedAlert.vcxproj
redalert/CMakeFiles/generate.stamp.depend
common/commonr.vcxproj
CMakeFiles/3.12.18081601-MSVC_2/VCTargetsPath.txt
CMakeFiles/3.12.18081601-MSVC_2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
tiberiandawn/cmake_install.cmake
redalert/VanillaRAResource.rc
redalert/VanillaRAInfo.h
common/check_git.vcxproj
common/CMakeFiles/generate.stamp.depend
common/CMakeFiles/generate.stamp
cmake_install.cmake
CMakeFiles/feature_tests.cxx
CMakeFiles/feature_tests.bin
CMakeFiles/cmake.check_cache
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.12.18081601-MSVC_2/VCTargetsPath.vcxproj
tiberiandawn/RemasterTDResource.rc
tiberiandawn/RemasterTDInfo.h
tiberiandawn/CMakeFiles/generate.stamp.depend
tiberiandawn/CMakeFiles/generate.stamp
redalert/cmake_install.cmake
common/common.vcxproj.filters
common/common.vcxproj
common/cmake_install.cmake
common/check_git.vcxproj.filters
CMakeFiles/generate.stamp.list
CMakeFiles/generate.stamp.depend
CMakeFiles/generate.stamp
tiberiandawn/VanillaTD.vcxproj.filters
tiberiandawn/VanillaTD.vcxproj
tiberiandawn/TiberianDawn.vcxproj.filters
tiberiandawn/TiberianDawn.vcxproj
redalert/VanillaRA.vcxproj
redalert/RemasterRAResource.rc
ZERO_CHECK.vcxproj.filters
tiberiandawn/VanillaTDInfo.h
redalert/CMakeFiles/generate.stamp
redalert/VanillaRA.vcxproj.filters
tiberiandawn/VanillaTDResource.rc
CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/CompilerIdCXX.vcxproj
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/rc.read.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/rc.command.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/link.write.1.tlog
common/commonv.dir/Debug/commonv.tlog/Lib.command.1.tlog
common/commonv.dir/Debug/commonv.tlog/Lib-link.write.1.tlog
common/commonv.dir/Debug/commonv.tlog/Lib-link.read.1.tlog
common/common.dir/Debug/common.tlog/common.lastbuildstate
common/common.dir/Debug/common.tlog/CL.command.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
.vs/VanillaConquer/v15/ipch/AutoPCH/609e33627a36f6e4/SCENARIO.ipch
.vs/VanillaConquer/v15/Solution.VC.db-wal
.vs/VanillaConquer/v15/Solution.VC.db-shm
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/CL.write.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/CL.read.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/CL.command.1.tlog
common/common.dir/Debug/common.tlog/Lib-link.read.1.tlog
common/common.dir/Debug/common.tlog/CL.write.1.tlog
common/common.dir/Debug/common.tlog/CL.read.1.tlog
common/Win32/Debug/check_git/check_git.tlog/custombuild.command.1.tlog
common/Win32/Debug/check_git/check_git.tlog/check_git.lastbuildstate
.vs/VanillaConquer/v15/ipch/AutoPCH/e793ae342edd3160/INIT.ipch
.vs/VanillaConquer/v15/ipch/AutoPCH/8ecc3e557b090b0d/LCW.ipch
.vs/VanillaConquer/v15/ipch/AutoPCH/621f45bb8775f9e4/EXPAND.ipch
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/link.read.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/link.command.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/custombuild.write.1.tlog
common/commonv.dir/Debug/commonv.tlog/CL.write.1.tlog
common/commonv.dir/Debug/commonv.tlog/CL.read.1.tlog
common/commonv.dir/Debug/commonv.tlog/CL.command.1.tlog
common/Win32/Debug/check_git/check_git.tlog/custombuild.write.1.tlog
common/Win32/Debug/check_git/check_git.tlog/custombuild.read.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
redalert/VanillaRA.dir/Debug/VanillaRAResource.res
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/rc.write.1.tlog
git-state-hash
common/gitinfo.cpp
common/commonv.dir/Debug/commonv.tlog/commonv.lastbuildstate
common/common.dir/Debug/common.tlog/Lib.command.1.tlog
common/common.dir/Debug/common.tlog/Lib-link.write.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/custombuild.read.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/custombuild.command.1.tlog
redalert/VanillaRA.dir/Debug/VanillaRA.tlog/VanillaRA.lastbuildstate
.vs/VanillaConquer/v15/Solution.VC.db
.vs/VanillaConquer/v15/Browse.VC.db
